%h3
  Top commenters in this week (
  = @beginning_of_week.strftime('%d %b %Y') + ' -'
  = @end_of_week.strftime('%d %b %Y')
  )
%table.table
  %theader
    %th #
    %th Commenter
    %th Comments count:
  %tbody
    = render partial: 'commenter', collection: @top_commenters, as: :commenter, cached: true
